/* 
TODO
SVG toggler icon
highlight <nav> link based on current <main> scroll

possible TODO
show on hover, hide on unhover
animated logo
write 'MENU' in small horizontal small caps
	or sideways vertical small caps
 */

.toggler {
    
    /* counteracting <button> defaults */
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    /* float toggler button */
    position: absolute;
    top: 0;
    left: 0;

    height: 70px;
    width: 100%;
    
    z-index: 902;
    
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.toggler.hide {
    top: -70px;
}
.toggler.hide.navShow {
    top: 0;
}
.toggler .transparent {
    background-color: transparent;
    height: 70px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);

    display: none;
}
.toggler .opaque {
    background-color: var(--lightgray);
    height: 70px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.toggler.navShow {
    height: 70px;
    /* width: 70px; */
}
.toggler.navShow .transparent {
    height: 0px;
}
.toggler.navShow .opaque {
    height: 100%;
}
.burger {
    height: 70px;
    width: 70px;

    right: 0;

    position: absolute;
    top: calc(50% - 35px);

    font-size: 30px;
    color: var(--text);

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    background-color: var(--lightgray);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.closer {
    /* counteracting <button> defaults */
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    background-color: var(--lightgray);
}
.closer div, .logo div {
    height: 70px;
    width: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Yatra One', sans-serif;
    font-size: 32px;
    color: var(--text);
    margin-block-start: 2px;

    /* TODO hardcoded color */
    text-shadow: 1px 1px red, 1px 2px black;
    text-shadow: 1px 1px #51d6ff, 1px 2px black;
}



.nav {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    /* text-transform: uppercase; */

    background-color: var(--gray);
    /* background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e6e6e6",GradientType=1); */
    width: 100%;
    height: 100vh;
    position: absolute;
    
    z-index: 901;

    left: 0px;
    opacity: 1;

    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.nav.hide {
    left: -100vw;
    opacity: 0;
}
.navSpacer {
    display: none;
}
.navContainer {
    height: 100%;
    width: 100%;
    margin-block-start: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-right: var(--nav-border) 1px solid;
}



.bullet {
    margin-inline-start: 19px;
    position: relative;
    width: 0px;
    height: 30px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.bullet > div {
    position: absolute;
    width: 15px;
    height: 30px;
    overflow: hidden;
}
.bullet > div > div {
    transform: rotate(45deg);
    background-color: var(--nav-bullet);
    width: 14px;
    height: 14px;
    top: 7px;
    left: -10px;
    position: relative;
}
.button.active .bullet {
    margin-inline-start: 26px;
}
.button {
    width: 100%;
    height: 70px;
    
    text-decoration: none;
    color: var(--text);
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* user-select: none; */

    box-shadow: 0 1px 0 var(--nav-border) inset;
}
.button:last-of-type {
    box-shadow: 0 1px 0 var(--nav-border) inset, 0 -1px 0 var(--nav-border) inset;
}
.button.active {
    background-color: var(--black);
}
.button:hover {
    background-color: var(--bright);
}
.link {
    padding-right: 40px;
    margin-block-start: 5px;
}


.resume {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-block-start: 30px;
}
.resume a {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    /* color: var(--pink);
    border: 1px solid var(--pink);
    background-color: var(--pink-clear); */
    border: 1px solid var(--nav-resume-border);
    background-color: var(--bright);
    color: var(--text);
    
    margin-inline-end: 40px;
    
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 18px; */
    border-radius: 9px;
    /* padding-top: 21px; */
    transition: all 0.25s cubic-bezier(0.5, 0, 0, 1);
}
.resume a:hover {
    background-color: var(--nav-resume-bg);
    color: var(--nav-resume-text);
    font-weight: 700;
}
.resume a span {
    padding-top: 6px;
}

/* desktop/lengthwise tablet */
@media (min-width: 640px) {

    .toggler {
        height: 100vh;
        width: 70px;
    }
    .toggler.hide {
        top: 0;
    }
    .toggler .transparent {
        display: block;
    }
    .toggler .opaque {
        height: calc(100vh - 70px);
    }
    .burger {
        right: auto;
    }
    .logo {
        display: none;
    }
    .nav {
        width: 300px;
    }
    .nav.hide {
        /* -271px + 70px */
        left: -230px;
        /* disable mobile nav fade-in */
        opacity: 1;
    }

    /* .button {
        justify-content: flex-end;
        box-shadow: none;
    }
    .button:last-of-type {
        box-shadow: none;
    }
    .bullet {
        display: none;
    } */
}

/* adjusts navContainer overflow on lower heights */
@media (max-height: 550px) {

    .navSpacer {
        /* lowers center of div */
        display: block;
        height: 70px;
    }
    .navContainer {
        overflow: auto;
        
        /* lowers center of div */
        height: calc(100% - 70px);
        
        /* pads bottom for overflow */
        padding-bottom: 70px;

        /* this + margin: auto fixes overflow errors */
        justify-content: flex-start;
    }
    .navContainer .button:first-of-type {
        margin-block-start: auto;
    }
    .resume {
        margin-block-end: auto;
        margin-block-start: 10px;
    }
}






.burgerWrapper {
    --burger-size: 30px;
    --burger-speed: 0.3s;
    --burger-curve: cubic-bezier(0.1, 0.9, 0, 1.2);
    --burger-curve: cubic-bezier(0.42, 0.91, 0.42, 1);
    display: block;
    position: relative;
    width: var(--burger-size);
    height: var(--burger-size);
}
.burgerWrapper .bun:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--text);
    transition: all var(--burger-speed) var(--burger-curve);
    top: 10%;
    right: 0;
    box-shadow: 0 0 0 3px var(--lightgray);
}
.burgerWrapper .bun:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--text);
    transition: all var(--burger-speed) var(--burger-curve);
    bottom: 10%;
    left: 0;
    box-shadow: 0 0 0 3px var(--lightgray);
}
.burgerWrapper .bun .patty {
    position: absolute;
    display: flex;
    align-items: center;
    height: var(--burger-size);
    width: var(--burger-size);
}
.burgerWrapper .bun .patty:before, .burgerWrapper .bun .patty:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--text);
    transition: all var(--burger-speed) var(--burger-curve);
    box-shadow: 0 0 0 3px var(--lightgray);
}
.burgerWrapper input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: var(--burger-size);
    height: var(--burger-size);
    cursor: pointer;
}

.burgerWrapper input:hover ~ .bun:before, .burgerWrapper input:hover ~ .bun:after, .burgerWrapper input:hover ~ .bun :before, .burgerWrapper input:hover ~ .bun :after {
    background: #343434;
}

.burgerWrapper.animate .bun:before, .burgerWrapper.animate .bun:after {
    width: 0;
}
.burgerWrapper.animate .patty:before {
    transform: rotate(135deg);
}
.burgerWrapper.animate .patty:after {
    transform: rotate(45deg);
    box-shadow: 0 0 0 0 var(--lightgray);
}
