/* 
TODO
SVG toggler icon

possible TODO
show on hover, hide on unhover?
animated logo?
write 'MENU' in small horizontal small caps
	or sideways vertical small caps
 */

.toggler {
    
    /* counteracting <button> defaults */
    border: none;
    padding: 0;
    background-color: transparent;

    /* float toggler button */
    position: absolute;
    top: 0;
    left: 0;

    height: 70px;
    width: 100vw;
    
    z-index: 902;
    
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.toggler.hide {
    top: -70px;
}
.toggler.hide.navShow {
    top: 0;
}
.toggler .transparent {
    background-color: transparent;
    height: 70px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);

    display: none;
}
.toggler .opaque {
    background-color: var(--lightgray);
    height: 70px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.toggler.navShow {
    height: 70px;
    /* width: 70px; */
}
.toggler.navShow .transparent {
    height: 0px;
}
.toggler.navShow .opaque {
    height: 100%;
}
.burger {
    height: 70px;
    width: 70px;

    right: 0;

    position: absolute;
    top: calc(50% - 35px);

    font-size: 30px;
    color: var(--text);

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    background-color: var(--lightgray);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.closer {
    /* counteracting <button> defaults */
    border: none;
    padding: 0;
    background-color: transparent;

    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    background-color: var(--lightgray);
}
.closer div, .logo div {
    height: 70px;
    width: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Yatra One', sans-serif;
    font-size: 32px;
    color: var(--text);
    margin-top: 2px;

    text-shadow: 1px 1px red, 1px 2px black;
    text-shadow: 1px 1px #51d6ff, 1px 2px black;
}



.nav {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    /* text-transform: uppercase; */

    background-color: var(--gray);
    /* background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e6e6e6",GradientType=1); */
    width: 100vw;
    height: 100vh;
    position: absolute;
    
    z-index: 901;

    opacity: 0;
    
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);

    /* perspective: 200px; */
}
.nav.show {
    /* left: 0px;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d; */
    left: 0px;
    opacity: 1;
}
.nav.hide {
    /* left: -180px;
    transform: rotateX(0deg) rotateY(90deg);
    transform-style: preserve-3d; */
    left: -100vw;
}
.navSpacer {
    display: none;
}
.navContainer {
    height: 100%;
    width: 100%;
    margin-top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.button {
    width: 100%;
    height: 70px;
    
    text-decoration: none;
    color: var(--text);
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.button:hover {
    background-color: var(--black);
}
.button div {
    padding-right: 40px;
    margin-top: 5px;
}


.resume {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 30px;
}
.resume a {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--pink);
    border: 1px solid var(--pink);
    background-color: var(--pink-clear);
    color: black;
    border: 1px solid #cacaca;
    background-color: #00cbff38;
    
    margin-right: 26px;
    padding: 18px;
    border-radius: 9px;
    padding-top: 21px;
}

/* desktop/lengthwise tablet */
@media (min-width: 640px) {

    .toggler {
        height: 100vh;
        width: 70px;
    }
    .toggler.hide {
        top: 0;
    }
    .toggler .transparent {
        display: block;
    }
    .toggler .opaque {
        height: calc(100vh - 70px);
    }
    .burger {
        right: auto;
    }
    .logo {
        display: none;
    }
    .nav {
        width: 271px;
        opacity: 1;
    }
    .nav.hide {
        /* -271px + 70px */
        left: -201px;
    }
    .resume div {
        margin-right: 20px;
    }

}

/* lengthwise, but tiny height */
@media (max-height: 550px) {
    .navSpacer {
        display: block;
        height:70px;
    }
    .navContainer {
        height: calc(100% - 70px);
        width: 100%;
        justify-content: flex-start;
        overflow: auto;
    }
    .navContainer .button:first-of-type {
        margin-top: auto;
    }
    .button {
        height: 55px;
    }
    .resume {
        margin-top: 0px;
        margin-bottom: auto;
    }
}
