@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Mono:wght@400;500;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Yatra+One&display=swap');

@font-face {
    font-family: 'Salbabida Sans';
    src: url('/salbabidasans-regular.otf');
}

html, body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
:root {
    --text: white;
    --black: #1a2026;
    --gray: #1e252c;
    --lightgray: #252e38;

    --violet: #d67bd0;
    --hotpink: #ff5f95;
    --pink: #ff89af;
    --pink-clear: #ff89ae12;
    --cyan: #61c8e2;
    --seafoam: #73f0da;
    --green: #8dd68e;
    --darkblue: #1c2f4d;

    --spacing-body: max(6px, 2vmin);
    
    --text: black;
    --black: white;
    --gray: rgb(244, 244, 244);
    --lightgray: rgb(230, 230, 230);

    --pink: #51d6ff;
    --pink-clear: #51d6ff12;

    --gradient1: rgb(13 17 23);
    --gradient2: rgb(34 41 52);
    --gradient-mix: rgb(23 29 37);
    
    --gradient1: rgb(16 44 58);
    --gradient2: rgb(23 32 59);
    --gradient2: rgb(47 70 110);
    --gradient-mix: rgb(16 44 58);
    --hero-bg: rgb(27 57 72);

    --nav-border: #dadada;
    --nav-bullet: #a0a0a0;
    --nav-resume-text: white;
    --nav-resume-border: black;
    --nav-resume-bg: #1f1f1f;

    --bright: #9affe0;
    --bright: #8affe8;
    --bright: #b5fff0;
    --bright: #8fffe5;
    --light-neon: #a2ffea;
    --neon: #4cffd6;
    --dark-neon: #0bb18a;
    --hotpink: #ff116a;
    --hotpink: #7c29ff;
    --transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}



body {
    /* background: linear-gradient(0deg, 
        var(--gradient1) 0%, 
        var(--gradient2) 25%, 
        var(--gradient1) 50%, 
        var(--gradient2) 75%, 
        var(--gradient1) 100%);
    background-size: 100% 2000%;
    animation: gradient 9s linear infinite;
    background-attachment: fixed; */
    background-color: var(--gradient-mix);
    background-color: var(--hero-bg);
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}



.hero {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    /* responsive */
    margin-block-start: 70px;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: calc(90vh - 70px);
}
.hero-inner {
    font-size: min(12.6vw, 75px, 20vh);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* .hero-inner div:nth-of-type(1) {
    align-self: flex-start;
    height: 0.9096em;
    font-size: 0.366667em;
    margin-inline-start: 0.090909em;
} */
.hero-inner div:nth-of-type(1) {
    align-self: flex-start;
    height: 0.9286em;
    font-size: 1.166667em;
    color: var(--neon);
}
.hero-inner div:nth-of-type(2) {
    height: 0.76666667em;
    height: 1em;
}
.hero-inner div:nth-of-type(3) {
    align-self: flex-end;
    height: 1.1em;
    font-size: 0.5455em;
    color: #82a0a1;
}
/* .hero-inner div:nth-of-type(4) span {
    font-size: 0.33333em;
} */
/* .hero-inner div:nth-of-type(5) {
    color: #767676;
    font-size: 0.333333em;
} */


main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    /* background-color: #262b33;
    background-color: #262b3359; */
    /* background-color: #172C38; */
    /* backdrop-filter: blur(2px); */
}

/* compact desktop version */
@media (min-width: 640px) {
    .home {
        padding-left: 70px;
    }
    header {
        width: 0;
    }
    .hero {
        width: calc(100vw - (100vw - 100%));
        margin-block-start: 0;
        height: 90vh;
    }
    .hero-inner {
        font-size: min(16.5625vw, 80px, 25vh);
    }
    main {
        width: calc(100vw - (100vw - 100%)  );
    }
}

/* desktop version */
@media (min-width: 1024px) {

    .hero, main {
        --main-width: 55vw;
    }
    .home {
        align-items: flex-end;
    }
    .hero {
        position: fixed;
        left: 70px;
        top: 0;

        height: 100vh;
        
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;

        width: calc(100vw - var(--main-width) - 70px - (100vw - 100%));
    }
    .hero-inner {
        font-size: clamp(50px, 4.75vw, 100px);
    }
    main {
        width: var(--main-width);
    }
}



main {
    /* outline: #003d47 1px solid; */
}
main > * {
    /* outline: red 1px solid; */
}


section {
    --margin: 8%;
    min-height: 100vh;
    margin: 0 var(--margin);
    width: calc(100% - var(--margin) - var(--margin));
    display: flex;
    flex-direction: column;
}
section * {
    margin: 0;
}
section h1 {
    margin-block-start: 90px;
}
section > p {
    font-size: 1.2em;
    color: #cecece;
    margin: 0;
    margin-block-end: 1.5em;
}
section > p:first-of-type {
    margin-block-start: 1.5em;
}

.about-wrapper {
    display: flex;
    justify-content: space-around;
}

#Contact {
    justify-content: center;
}
#Contact h1 {
    margin-block-start: 0;
}


.image {
    position: relative;
    /* backdrop-filter: blur(1px); */
    /* z-index: 1; */

    background-color: #001a24;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    margin: 10px;
}
.image.me {
    width: min(60vw, 240px);
    /* TODO kinda hacky */
    height: min(75vw, 300px);
    align-self: center;
}
.image.me span {
    position: absolute;
    z-index: 1;
}
.image.me::before {
    content: '';
    outline: var(--neon) 2px solid;
    /* transform: rotate(2deg); */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: var(--gradient-mix);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.image.me::after {
    content: '';
    outline: var(--hotpink) 2px solid;
    /* transform: rotate(2deg); */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.image.me:hover::before {
    /* transform: scale(1.02) rotate(2deg); */
    transform: scale(1.01) rotate(0deg) translate(-3px, -4px);
}
.image.me:hover::after {
    /* transform: scale(1.02) rotate(-3deg) translate(-3px, 0px);
    transform: scale(1.02) rotate(6deg); */
    transform: scale(1.01) rotate(0deg) translate(4px, 4px);

    outline: var(--hotpink) 3px solid;
}
.image.shiristory {
    width: min(60vw, 350px);
    /* TODO kinda hacky */
    height: min(60vw, 350px);
    align-self: center;
}
.image span {
    /* mix-blend-mode: screen; */
    /* filter: grayscale(1); */
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.image:hover {
    background-color: black;
    /* outline: none; */
}
.image:hover span {
    filter: none;
}



h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 3.5em;
    color: var(--neon);
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.35em;
    margin-block-start: 2em;
    margin-block-end: 2em;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}


.featured-container {
    position: relative;
    z-index: 1;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.featured {
    outline: var(--neon) 2px solid;
    padding: min(5vw, 37px);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    display: flex;
    /* float: left; */
    flex-direction: column;
}
.featured-container::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    user-select: none;
    background-color: var(--gradient-mix);
}
.featured-container::after {
    content: '';
    outline: var(--hotpink) 2px solid;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    user-select: none;
    /* background-color: blue; */
}
.featured-container:hover {
    transform: scale(1.01);
}
.featured-container:hover::after {
    /* transform: rotate(0deg) scale(1.02) skew(1deg, -1deg); */
    /* transform: rotate(1deg) scale(1.03) skew(-1deg, -2deg); */
    transform: scaleX(0.98) scaleY(0.965);
    outline: var(--hotpink) 3px solid;
}



.featured .shiristory-logo a {
    color: white;
    text-decoration: none;
}
.featured:hover .shiristory-logo a {
    /* text-shadow: 0 0 0.06em var(--hotpink); */
    transition: text-shadow .3s ease-in-out;
}
.featured .shiristory-logo a:hover {
    text-shadow: 0 0 0.06em #a4003d, 0 0 0.25em #32008b;;
    transition: text-shadow .6s ease-in-out;
}
.shiristory-logo {
    font-family: 'Salbabida Sans', sans-serif;
    color: white;
    font-size: min(5rem, 16vw);
    font-weight: 400;
    align-self: center;
}



.cards {
    display: grid;
    /* outline: var(--neon) 2px solid; */
    
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
}
.card-container {
    position: relative;
    z-index: 1;
}
.card-container:hover {
    z-index: 2;
    transform: scale(1.01);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.card {
    outline: var(--neon) 1px solid;
    padding: min(2.5vw, 37px);
    /* transition: all 0.15s cubic-bezier(0.5, 0, 0, 1); */
    display: flex;
    /* float: left; */
    flex-direction: column;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.card:hover {
    outline: var(--neon) 2px solid;
}
.card h3 a {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.card p {
    /* font-size: 1.05rem; */
    margin: 0;
    /* font-size: 0.9rem; */
    margin-block-end: auto;
}
.card-container::before {
    content: '';
    background-color: var(--gradient-mix);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* border-radius: 9px; */
    z-index: -2;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.card-container::after {
    content: '';
    outline: var(--hotpink) 1px solid;
    background-color: var(--gradient-mix);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.1s cubic-bezier(0.5, 0, 0, 1);
}
.card-container:hover::after {
    /* transform: rotate(1deg) scale(1.02) skew(2deg, -2deg);
    transform: rotate(0deg) scale(1.02) skew(1deg, -2deg); */
    /* transform: rotate(1deg) scale(1.03) skew(-1deg, -2deg); */
    transform: scaleX(0.96) scaleY(0.97);
    outline: var(--hotpink) 2px solid;
    z-index: -1;
}


.button {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
}
.button a {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    /* color: var(--pink);
    border: 1px solid var(--pink);
    background-color: var(--pink-clear); */
    /* border: 1px solid var(--neon); */
    /* background-color: var(--neon); */
    outline: 2px solid var(--hotpink);
    color: var(--neon);
    
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 18px; */
    border-radius: 9px;
    /* padding-top: 21px; */
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    position: relative;
}
.button a::before {
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
    z-index: 1;
    font-weight: 700;
    content: '';
    width: 100%;
    height: 100%;
    outline: 2px solid var(--neon);
    position: absolute;
    border-radius: 9px;
}
.button a:hover {
    /* background-color: var(--nav-resume-bg); */
    /* color: var(--nav-resume-text); */
    font-weight: 700;
    /* border: 1px solid var(--neon); */
    outline: 2px solid var(--hotpink);
}
.button a:hover::before {
    transform: rotate(0deg) translate(0px, -4px);
}
.button a span {
    padding-top: 6px;
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.button a:hover span {
    padding-bottom: 4px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-block: 1rem;
    gap: 1rem;
    z-index: 3;
}
li a {
    text-decoration: none;
    color: var(--neon);
    position: relative;
    font-size: 1.15em;
    font-weight: 600;
    line-height: 1.75em;
}
li a span::before, li a span::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--neon);
    position: absolute;
    top: 1.17em;
    transition: var(--transition);
}
li a span::before {right: 0;}
/* li a span::before {left: 50%;} */
/* li a span::after {right: 50%;} */
li a span::after {left: 0; background-color: var(--hotpink);}
li a span:hover::before, li a span:hover::after {
    width: 50%;
}
.about-wrapper > ul {
    display: block;
}


.tech-list {
    color: #91b6ff;
    color: #919191;
}
.featured .tech-list {
    justify-content: center;
}
.card .tech-list {
    font-size: 0.9rem;
}
.tech-list li {
    font-family: 'Fira Mono', monospace;
}