@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Yatra+One&display=swap');

html, body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
:root {
    --text: white;
    --black: #1a2026;
    --gray: #1e252c;
    --lightgray: #252e38;

    --violet: #d67bd0;
    --hotpink: #ff5f95;
    --pink: #ff89af;
    --pink-clear: #ff89ae12;
    --cyan: #61c8e2;
    --seafoam: #73f0da;
    --green: #8dd68e;
    --darkblue: #1c2f4d;

    --spacing-body: max(6px, 2vmin);
    
    --text: black;
    --black: white;
    --gray: rgb(244, 244, 244);
    --lightgray: rgb(230, 230, 230);

    --pink: #51d6ff;
    --pink-clear: #51d6ff12;

    --gradient1: rgb(13 17 23);
    --gradient2: rgb(34 41 52);
    --nav-border: #dadada;
    --nav-bullet: #a0a0a0;
    --nav-resume-border: #cacaca;
    --nav-resume-bg: #00cbff38;
}



body {
    background: linear-gradient(0deg, var(--gradient1) 0%, var(--gradient2) 25%, var(--gradient1) 50%, var(--gradient2) 75%, var(--gradient1) 100%);
    background-size: 100% 4000%;
    animation: gradient 6s linear infinite;
    /* height: 100vh; */
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}



.hero {
    /* background-color: #000000; */
    /* font-weight: bold; */
    font-size: 60px;
    font-family: 'bebas neue', sans-serif;
    letter-spacing: 1px;
    /* font-family: 'josefin sans', sans-serif; */
    padding: 15px;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0px 15px;
    
    /* responsive */
    margin-top: 70px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    /* TODO decide on this */
    height: 60vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    background-color: #262b33;
}

/* compact desktop version */
@media (min-width: 640px) {
    .home {
        padding-left: 70px;
    }
    header {
        width: 0;
    }
    .hero {
        width: calc(100vw - (100vw - 100%));
        margin-top: 0;
    }
    main {
        width: calc(100vw - (100vw - 100%)  );
    }
}

/* desktop version */
@media (min-width: 1024px) {

    .hero, main {
        --main-width: 55vw;
    }
    .home {
        align-items: flex-end;
    }
    .hero {
        position: fixed;
        left: 70px;
        top: 0;

        height: 100vh;
        
        flex-direction: column;
        justify-content: center;
        align-content: normal;

        width: calc(100vw - var(--main-width) - 70px - (100vw - 100%));
    }
    main {
        width: var(--main-width);
    }
}



.hero {
    /* outline: yellow 1px solid; */
}
main {
    outline: #626695 1px solid;
}
main * {
    outline: #333333 1px solid;
}



section {
    min-height: 100vh;
}
section h1 {
    margin-top: 120px;
}

