@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Yatra+One&display=swap');

html, body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
:root {
    --text: white;
    --black: #1a2026;
    --gray: #1e252c;
    --lightgray: #252e38;

    --violet: #d67bd0;
    --hotpink: #ff5f95;
    --pink: #ff89af;
    --pink-clear: #ff89ae12;
    --cyan: #61c8e2;
    --seafoam: #73f0da;
    --green: #8dd68e;
    --darkblue: #1c2f4d;

    --spacing-body: max(6px, 2vmin);
    
    --text: black;
    --black: white;
    --gray: rgb(244, 244, 244);
    --lightgray: rgb(230, 230, 230);

    --pink: #51d6ff;
    --pink-clear: #51d6ff12;

    --gradient1: rgb(13 17 23);
    --gradient2: rgb(34 41 52);
    --nav-border: #dadada;
    --nav-bullet: #a0a0a0;
    --nav-resume-text: white;
    --nav-resume-border: black;
    --nav-resume-bg: #1f1f1f;

    --bright: #9affe0;
    --light-neon: #a2ffea;
    --neon: #4cffd6;

    --transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}



body {
    background: linear-gradient(0deg, var(--gradient1) 0%, var(--gradient2) 25%, var(--gradient1) 50%, var(--gradient2) 75%, var(--gradient1) 100%);
    background-size: 100% 4000%;
    animation: gradient 12s linear infinite;
    /* height: 100vh; */
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}



.hero {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    /* responsive */
    margin-top: 70px;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: calc(90vh - 70px);
}
.hero-inner {
    font-size: min(15.5625vw, 75px, 20vh);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hero-inner div:nth-of-type(1) {
    align-self: flex-start;
    height: 0.9096em;
    font-size: 0.366667em;
    margin-left: 0.090909em;
}
.hero-inner div:nth-of-type(2) {
    align-self: flex-start;
    height: 0.9286em;
    font-size: 1.166667em;
    color: #4cffd6;
}
.hero-inner div:nth-of-type(3) {
    height: 0.76666667em;
}
.hero-inner div:nth-of-type(4) {
    height: 1.1em;
}
.hero-inner div:nth-of-type(5) {
    color: #767676;
    font-size: 0.333333em;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    font-family: 'Mulish', sans-serif;
    font-size: 16px;

    background-color: #262b33;
    background-color: #262b3359;
    /* backdrop-filter: blur(2px); */
}

/* compact desktop version */
@media (min-width: 640px) {
    .home {
        padding-left: 70px;
    }
    header {
        width: 0;
    }
    .hero {
        width: calc(100vw - (100vw - 100%));
        margin-top: 0;
        height: 90vh;
    }
    .hero-inner {
        font-size: min(16.5625vw, 80px, 25vh);
    }
    main {
        width: calc(100vw - (100vw - 100%)  );
    }
}

/* desktop version */
@media (min-width: 1024px) {

    .hero, main {
        --main-width: 55vw;
    }
    .home {
        align-items: flex-end;
    }
    .hero {
        position: fixed;
        left: 70px;
        top: 0;

        height: 100vh;
        
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;

        width: calc(100vw - var(--main-width) - 70px - (100vw - 100%));
    }
    .hero-inner {
        font-size: clamp(67px, 4vw, 100px);
    }
    main {
        width: var(--main-width);
    }
}



.hero {
    /* outline: yellow 1px solid; */
}
main {
    outline: #003d47 1px solid;
}
main > * {
    /* outline: #333333 1px solid; */
}



section {
    --margin: 8%;
    min-height: 100vh;
    margin: 0 var(--margin);
    width: calc(100% - var(--margin) - var(--margin));
    display: flex;
    flex-direction: column;
}
section * {
    margin: 0;
}
section h1 {
    margin-top: 75px;
}
section p {
    /* font-size: 1.1em; */
    color: #cecece;
}

.image {
    position: relative;
    /* backdrop-filter: blur(1px); */
    /* z-index: 1; */

    background-color: #003a51;
    transition: background-color 0.15s linear;
    margin: 10px;
}
.image.me {
    width: min(60vw, 300px);
    /* TODO kinda hacky */
    height: min(75vw, 375px);
    align-self: center;
}
.image.me::before {
    content: '';
    outline: var(--neon) 1px solid;
    transform: rotate(2deg);
    width: 100%;
    height: 100%;
    display: block;
}
.image.shiristory {
    width: min(60vw, 350px);
    /* TODO kinda hacky */
    height: min(60vw, 350px);
    align-self: center;
}
.image span {
    mix-blend-mode: screen;

    filter: grayscale(1);
    transition: all 0.15s linear;
}
.image:hover {
    background-color: black;
    /* outline: none; */
}
.image:hover span {
    filter: none;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 45px;
    color: #4cffd6;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.email {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.email a {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    /* color: var(--pink);
    border: 1px solid var(--pink);
    background-color: var(--pink-clear); */
    border: 1px solid var(--nav-resume-border);
    background-color: var(--neon);
    color: var(--text);
    
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 18px; */
    border-radius: 9px;
    /* padding-top: 21px; */
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1);
}
.email a:hover {
    background-color: var(--nav-resume-bg);
    color: var(--nav-resume-text);
    font-weight: 700;
}
.email a span {
    padding-top: 6px;
}

li a {
    /* font-family: 'Josefin sans'; */
    text-decoration: none;
    color: var(--neon);
    position: relative;
    font-size: 1em;
    font-weight: 600;
}
li a span::before, li a span::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--neon);
    position: absolute;
    top: 18px;
    transition: var(--transition);
}
/* li a span::before {left: 50%;} */
/* li a span::after {right: 50%;} */
li a span::before {left: 0;}
li a span::after {left: 0; background-color: #ff116a;}
li a span:hover::before, li a span:hover::after {
    width: 80%;
}
li a span:hover::before {
    width: 100%;
}